language: swift
osx_image: xcode9.0
branches:
  only:
    - master
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  - WORKSPACE=harta-banilor-publici.xcworkspace
  - IOS_FRAMEWORK_SCHEME="harta-banilor-publici"
  matrix:
    - DESTINATION="OS=10.3.1,name=iPhone 6s"   SCHEME="$IOS_FRAMEWORK_SCHEME"      RUN_TESTS="NO"  POD_LINT="NO"
    - DESTINATION="OS=11.0,name=iPhone 6s"     SCHEME="$IOS_FRAMEWORK_SCHEME"      RUN_TESTS="NO"  POD_LINT="NO"
before_install:
  - gem install cocoapods --pre --no-rdoc --no-ri --no-document --quiet
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks

  # Build Framework in Debug and Run Tests if specified
  - if [ $RUN_TESTS == "YES" ]; then
      xcodebuild clean test -workspace "$WORKSPACE" -scheme "$SCHEME" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO ENABLE_TESTABILITY=YES | xcpretty;
    else
      xcodebuild clean build -workspace "$WORKSPACE" -scheme "$SCHEME" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO | xcpretty;
    fi

  # Run `pod lib lint` if specified
  - if [ $POD_LINT == "YES" ]; then
      pod lib lint;
    fi